<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="startSwitch">
          <ion-segment-button value="signup">
            Sign Up
          </ion-segment-button>
          <ion-segment-button value="login">
            Log In
          </ion-segment-button>
        </ion-segment>
      </div>

  <div [ngSwitch]="startSwitch">

    <ion-list *ngSwitchCase="'signup'">

      <div class="login-container">
        <!--*********** Form ***********-->
    
        <form [formGroup]="registerForm" (submit)="registerUser()" novalidate>
    
          <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input tappable formControlName="firstName" type="text" [class.invalid]="!registerForm.controls.firstName.valid && registerForm.controls.firstName.dirty"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>Last Name</ion-label>
              <ion-input tappable formControlName="lastName" type="text" [class.invalid]="!registerForm.controls.lastName.valid && registerForm.controls.lastName.dirty"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input tappable formControlName="email" type="email"[class.invalid]="!registerForm.controls.email.valid && registerForm.controls.email.dirty"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input tappable formControlName="password" type="password" [class.invalid]="!registerForm.controls.password.valid && registerForm.controls.password.dirty"></ion-input>
          </ion-item>
  
          <ion-item class="error-message">
            <p *ngIf="!registerForm.controls.firstName.valid  &&
                    registerForm.controls.firstName.dirty">*Please enter your first name.</p>
            <p *ngIf="!registerForm.controls.lastName.valid  &&  
                    registerForm.controls.lastName.dirty">*Please enter your last name.</p>
            <p *ngIf="!registerForm.controls.email.valid  &&
                    registerForm.controls.email.dirty">*Please enter a valid email.</p>
            <p *ngIf="!registerForm.controls.password.valid  &&
            registerForm.controls.password.dirty">*Password needs more than 6 characters.</p>
          </ion-item>
            <button ion-button full type="submit" color="blue2">
                Create an Account
            </button>
        </form>
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'login'">

        <div class="login-container">
          
          <!--*********** Form ***********-->
          <form [formGroup]="loginForm" (submit)="login()" novalidate>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input tappable color="light" #email type="email" formControlName="email" [class.invalid]="!loginForm.controls.email.valid &&loginForm.controls.email.dirty">
              </ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input tappable #password type="password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid &&loginForm.controls.password.dirty">
              </ion-input>
            </ion-item>
      
            <ion-item class="error-message">
              <p *ngIf="!loginForm.controls.email.valid  &&
                      loginForm.controls.email.dirty">*This email doesn't match our records.</p>
              <p *ngIf="!loginForm.controls.password.valid  &&
                      loginForm.controls.password.dirty">*Password is incorrect.</p>
            </ion-item>
           
            <div class="submit-box">
              <button ion-button block type="submit" color="blue2">Log in</button>
            </div>
          </form>
      
        </div>
      

      <ion-footer>
        <button class="bottom" ion-button  mode="ios" type="button"  clear full color="light" (click)="forgot()">Forgot your password? </button>
      </ion-footer>

      <button ion-button icon-left block clear (click)="loginWithGoogle()">
					<ion-icon name="logo-google"></ion-icon>
					Log in with Google
      </button>
    </ion-list>

  </div>

</ion-content>
