<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="changephoto">
            <img class="profilePhoto" [src]="base64Image ? base64Image : 'https://pbs.twimg.com/profile_images/834457277830541312/bYMCvtHD.jpg'">

            <button ion-button (click)="photoActionSheet()">Change Profile Photo</button>
        
            <button ion-button (click)="saveChanges()">Save Changes</button>
    </div> 
    <div *ngIf="!changephoto">
    <div class="profile-box">
        <div text-center>
                <img class="profilePhoto" [src]="base64Image ? base64Image : 'https://pbs.twimg.com/profile_images/834457277830541312/bYMCvtHD.jpg'">
                <button ion-button (click)="updateProfilePhoto()">Update Profile Photo</button>
            <h1 class="name-text">{{(profile | async)?.firstName}} {{(profile | async)?.lastName}}</h1>
        </div>
    </div>

    <div padding>

      <h1>About</h1>
        <ion-list no-lines >
            <ion-item>
              <h2>Home Town</h2>
              <h3>{{(profile | async)?.homeTown}} </h3>
            </ion-item>

            <ion-item>
                <h2>Date of Birth</h2>
                <h3>{{(profile | async)?.birthDate}} </h3>
            </ion-item>

            <ion-item>
                <h2>Primary Goal</h2>
                <h3>{{(profile | async)?.goal}} </h3>
            </ion-item>

            <ion-item>
                <h2>About Me</h2>
                <h3>{{(profile | async)?.aboutMe}} </h3>
            </ion-item>

            <button ion-button (click)="editPage()">Edit Profile</button>

        </ion-list>
      </div>
    </div>



</ion-content>
